
.v-chip{
    padding: 20px !important;
}
.v-chip.blue {
    background: #3cd1c2;
    padding: 20px !important;
  }
  .v-chip.orange {
    background: #ffaa2c;
  }
  .v-chip.red {
    background: #f83e70;
  }
  .v-chip.purple {
    background: #ae3ef8;
  }
  .v-chip.yellow {
    background: #f8f53e;
  }